[mirror]
name = '菠萝云'
description = 'Edgeless 官方主站点'
root = 'https://pineapple.edgeless.top/'
services = [
    {name="plugins",path="disk/插件包/",local='./test/Packages'},
    {name="kernel",path="disk/Socket/",local='./test/Socket'},
    {name="alpha",path="disk/Socket/Alpha/",local='./test/Socket/Alpha'},
    {name="ventoy",path="disk/Socket/Ventoy/",local='./test/Ventoy'},
    {name="hub",path="disk/Socket/Hub/",local='./test/Hub'},
]

[property]
domestic_server = true
upload_bandwidth = 1000
sync_interval = 0
official_maintained = true

[config]
hub = './test/config/hub.json'
hub_notices = './test/config/notices.json'
alpha_cover = './test/config/alpha_cover.json'

[token]
alpha = 'ALPHA'
super_user = 'SUPER_USER'